{% extends "layout.html" %}

{% block title %}
    Profits
{% endblock %}

{% block main %}
    <h1>Realized Profits</h1>
    <h4>Calculated using the FIFO method</h4>
    <div class="profits-wrapper">
        <div class="profits-content">
            {% if error_message %}
                <p>{{ error_message }}</p>
            {% endif %}
            {% if sales %}
                {% set total_profit = namespace(value=0) %}
                {% for ticker, transactions in sales.items() %}
                    {% set current_stock_profit = namespace(value=0) %}
                    <div class="centered-container">
                        <table class="table table-striped table-dark" id="{{ ticker }}">
                            <tr>
                                <th class="text">Sale Timestamp</th>
                                <th class="text">Ticker</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Price</th>
                                <th class="text-right">Profit</th>
                            </tr>
                            {% for transaction in transactions %}
                                {% set current_stock_profit.value = current_stock_profit.value + transaction.profit %}
                                <tr>
                                    <td class="text">{{ transaction.datetime }}</td>
                                    <td class="text">{{ transaction.ticker }}</td>
                                    <td class="text-right">{{ transaction.quantity }}</td>
                                    <td class="text-right">{{ transaction.price | usd}}</td>
                                    <td class="text-right">{{ transaction.profit | usd}}</td>
                                </tr>
                            {% endfor %}
                            {% set total_profit.value = total_profit.value + current_stock_profit.value %}
                            <tr>
                                <th colspan="4" class="text-right">Total realized profits from {{ ticker }}</th>
                                <th colspan="1" class="text-right">{{ current_stock_profit.value | usd }}</th>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
                <div class="centered-container">
                    <table class="table table-striped table-dark" id="stocks summary">
                        <tr>
                            <th class="text-right">Total realized profits from all stocks</th>
                            <th class="text-right">{{ total_profit.value | usd }}</th>
                        </tr>
                    </table>
                </div>
            {% else %}
                <p>No sales found</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
